#!/usr/bin/make -f
#export DH_VERBOSE=1

PACKAGE = wiggle

override_dh_auto_install:
	$(MAKE) DESTDIR=debian/$(PACKAGE) install

binary-arch: build install
	# target: binary-arch - Build architecture-dependent files.
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

%:
	dh $@

.PHONY: binary-arch binary

# End of file
